<a href="https://colab.research.google.com/github/bhavika2222/AI/blob/master/adbms3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
*************************************************

Create Following Collection
Employee (emp_id, emp_name, emp_city, emp_post,emp_salary)
Insert at least 8 Documents in Collection.

*************************************************

> use mydb
switched to db mydb

***Creating collection Employee

> db.createCollection("Employee")
{ "ok" : 1 }

***Inserting documents in collection Employee

> db.Employee.insert({Emp_ID:101,Emp_Name:'Suresh',Emp_City:'Mumbai',Emp_Post:'Manager',Emp_Sal:50000})
WriteResult({ "nInserted" : 1 })
> db.Employee.insert({Emp_ID:102,Emp_Name:'Rajesh',Emp_City:'Nashik',Emp_Post:'Clerk',Emp_Sal:30000})
WriteResult({ "nInserted" : 1 })
> db.Employee.insert({Emp_ID:103,Emp_Name:'Kiran',Emp_City:'Nashik',Emp_Post:'Accountant',Emp_Sal:40000})
WriteResult({ "nInserted" : 1 })
> db.Employee.insert({Emp_ID:104,Emp_Name:'Asmita',Emp_City:'Mumbai',Emp_Post:'Manager',Emp_Sal:45000})
WriteResult({ "nInserted" : 1 })
> db.Employee.insert({Emp_ID:105,Emp_Name:'Bhavesh',Emp_City:'Pune',Emp_Post:'Clerk',Emp_Sal:28000})
WriteResult({ "nInserted" : 1 })
> db.Employee.insert({Emp_ID:106,Emp_Name:'Pooja',Emp_City:'Mumbai',Emp_Post:'Assistant',Emp_Sal:9000})
WriteResult({ "nInserted" : 1 })
> db.Employee.insert({Emp_ID:107,Emp_Name:'Seema',Emp_City:'Nashik',Emp_Post:'Assistant',Emp_Sal:12000})
WriteResult({ "nInserted" : 1 })
> db.Employee.insert({Emp_ID:108,Emp_Name:'Kamal',Emp_City:'Pune',Emp_Post:'Accountant',Emp_Sal:42000})
WriteResult({ "nInserted" : 1 })
> db.Employee.insert({Emp_ID:109,Emp_Name:'Nikhil',Emp_City:'Pune',Emp_Post:'Assistant',Emp_Sal:10000})
WriteResult({ "nInserted" : 1 })
> db.Employee.insert({Emp_ID:110,Emp_Name:'Purva',Emp_City:'Nashik',Emp_Post:'Manager',Emp_Sal:55000})
WriteResult({ "nInserted" : 1 })

***Displaying all documents from collection Employee

> db.Employee.find().pretty()
{
        "_id" : ObjectId("5406a7cb8b080eaa877f2899"),
        "Emp_ID" : 101,
        "Emp_Name" : "Suresh",
        "Emp_City" : "Mumbai",
        "Emp_Post" : "Manager",
        "Emp_Sal" : 50000
}
{
        "_id" : ObjectId("5406a8028b080eaa877f289a"),
        "Emp_ID" : 102,
        "Emp_Name" : "Rajesh",
        "Emp_City" : "Nashik",
        "Emp_Post" : "Clerk",
        "Emp_Sal" : 30000
}
{
        "_id" : ObjectId("5406a82a8b080eaa877f289b"),
        "Emp_ID" : 103,
        "Emp_Name" : "Kiran",
        "Emp_City" : "Nashik",
        "Emp_Post" : "Accountant",
        "Emp_Sal" : 40000
}
{
        "_id" : ObjectId("5406a8548b080eaa877f289c"),
        "Emp_ID" : 104,
        "Emp_Name" : "Asmita",
        "Emp_City" : "Mumbai",
        "Emp_Post" : "Manager",
        "Emp_Sal" : 45000
}
{
        "_id" : ObjectId("5406a87f8b080eaa877f289d"),
        "Emp_ID" : 105,
        "Emp_Name" : "Bhavesh",
        "Emp_City" : "Pune",
        "Emp_Post" : "Clerk",
        "Emp_Sal" : 28000
}
{
        "_id" : ObjectId("5406a8af8b080eaa877f289e"),
        "Emp_ID" : 106,
        "Emp_Name" : "Pooja",
        "Emp_City" : "Mumbai",
        "Emp_Post" : "Assistant",
        "Emp_Sal" : 9000
}
{
        "_id" : ObjectId("5406a8d98b080eaa877f289f"),
        "Emp_ID" : 107,
        "Emp_Name" : "Seema",
        "Emp_City" : "Nashik",
        "Emp_Post" : "Assistant",
        "Emp_Sal" : 12000
}
{
        "_id" : ObjectId("5406a8fe8b080eaa877f28a0"),
        "Emp_ID" : 108,
        "Emp_Name" : "Kamal",
        "Emp_City" : "Pune",
        "Emp_Post" : "Accountant",
        "Emp_Sal" : 42000
}
{
        "_id" : ObjectId("5406a91b8b080eaa877f28a1"),
        "Emp_ID" : 109,
        "Emp_Name" : "Nikhil",
        "Emp_City" : "Pune",
        "Emp_Post" : "Assistant",
        "Emp_Sal" : 10000
}
{
        "_id" : ObjectId("5406a9488b080eaa877f28a2"),
        "Emp_ID" : 110,
        "Emp_Name" : "Purva",
        "Emp_City" : "Nashik",
        "Emp_Post" : "Manager",
        "Emp_Sal" : 55000
}

***Display only id, name and city of employee.

> db.Employee.aggregate([{$project:{Emp_ID:1,Emp_Name:1,Emp_City:1}}]).pretty()
{
        "_id" : ObjectId("5406a7cb8b080eaa877f2899"),
        "Emp_ID" : 101,
        "Emp_Name" : "Suresh",
        "Emp_City" : "Mumbai"
}
{
        "_id" : ObjectId("5406a8028b080eaa877f289a"),
        "Emp_ID" : 102,
        "Emp_Name" : "Rajesh",
        "Emp_City" : "Nashik"
}
{
        "_id" : ObjectId("5406a82a8b080eaa877f289b"),
        "Emp_ID" : 103,
        "Emp_Name" : "Kiran",
        "Emp_City" : "Nashik"
}
{
        "_id" : ObjectId("5406a8548b080eaa877f289c"),
        "Emp_ID" : 104,
        "Emp_Name" : "Asmita",
        "Emp_City" : "Mumbai"
}
{
        "_id" : ObjectId("5406a87f8b080eaa877f289d"),
        "Emp_ID" : 105,
        "Emp_Name" : "Bhavesh",
        "Emp_City" : "Pune"
}
{
        "_id" : ObjectId("5406a8af8b080eaa877f289e"),
        "Emp_ID" : 106,
        "Emp_Name" : "Pooja",
        "Emp_City" : "Mumbai"
}
{
        "_id" : ObjectId("5406a8d98b080eaa877f289f"),
        "Emp_ID" : 107,
        "Emp_Name" : "Seema",
        "Emp_City" : "Nashik"
}
{
        "_id" : ObjectId("5406a8fe8b080eaa877f28a0"),
        "Emp_ID" : 108,
        "Emp_Name" : "Kamal",
        "Emp_City" : "Pune"
}
{
        "_id" : ObjectId("5406a91b8b080eaa877f28a1"),
        "Emp_ID" : 109,
        "Emp_Name" : "Nikhil",
        "Emp_City" : "Pune"
}
{
        "_id" : ObjectId("5406a9488b080eaa877f28a2"),
        "Emp_ID" : 110,
        "Emp_Name" : "Purva",
        "Emp_City" : "Nashik"
}



***Display only id, name and city of employee.

> db.Employee.aggregate([{$project:{_id:0,Emp_ID:1,Emp_Name:1,Emp_City:1}}]).pretty()
{ "Emp_ID" : 101, "Emp_Name" : "Suresh", "Emp_City" : "Mumbai" }
{ "Emp_ID" : 102, "Emp_Name" : "Rajesh", "Emp_City" : "Nashik" }
{ "Emp_ID" : 103, "Emp_Name" : "Kiran", "Emp_City" : "Nashik" }
{ "Emp_ID" : 104, "Emp_Name" : "Asmita", "Emp_City" : "Mumbai" }
{ "Emp_ID" : 105, "Emp_Name" : "Bhavesh", "Emp_City" : "Pune" }
{ "Emp_ID" : 106, "Emp_Name" : "Pooja", "Emp_City" : "Mumbai" }
{ "Emp_ID" : 107, "Emp_Name" : "Seema", "Emp_City" : "Nashik" }
{ "Emp_ID" : 108, "Emp_Name" : "Kamal", "Emp_City" : "Pune" }
{ "Emp_ID" : 109, "Emp_Name" : "Nikhil", "Emp_City" : "Pune" }
{ "Emp_ID" : 110, "Emp_Name" : "Purva", "Emp_City" : "Nashik" }

***Display only id and salary of employee whose salary is greater than 10000.

> db.Employee.aggregate([{$project:{Emp_ID:1,Emp_Sal:1}},{$match:{Emp_Sal:{$gt:10000}}}]).pretty()
{
        "_id" : ObjectId("5406a7cb8b080eaa877f2899"),
        "Emp_ID" : 101,
        "Emp_Sal" : 50000
}
{
        "_id" : ObjectId("5406a8028b080eaa877f289a"),
        "Emp_ID" : 102,
        "Emp_Sal" : 30000
}
{
        "_id" : ObjectId("5406a82a8b080eaa877f289b"),
        "Emp_ID" : 103,
        "Emp_Sal" : 40000
}
{
        "_id" : ObjectId("5406a8548b080eaa877f289c"),
        "Emp_ID" : 104,
        "Emp_Sal" : 45000
}
{
        "_id" : ObjectId("5406a87f8b080eaa877f289d"),
        "Emp_ID" : 105,
        "Emp_Sal" : 28000
}
{
        "_id" : ObjectId("5406a8d98b080eaa877f289f"),
        "Emp_ID" : 107,
        "Emp_Sal" : 12000
}
{
        "_id" : ObjectId("5406a8fe8b080eaa877f28a0"),
        "Emp_ID" : 108,
        "Emp_Sal" : 42000
}
{
        "_id" : ObjectId("5406a9488b080eaa877f28a2"),
        "Emp_ID" : 110,
        "Emp_Sal" : 55000
}

***Display employee name from Nasik city and sort it by considering their names.

> db.Employee.aggregate([{$project:{Emp_Name:1,Emp_City:1}},{$match:{Emp_City:'Nashik'}},{$sort:{Emp_Name:1}}]).pretty()
{
        "_id" : ObjectId("5406a82a8b080eaa877f289b"),
        "Emp_Name" : "Kiran",
        "Emp_City" : "Nashik"
}
{
        "_id" : ObjectId("5406a9488b080eaa877f28a2"),
        "Emp_Name" : "Purva",
        "Emp_City" : "Nashik"
}
{
        "_id" : ObjectId("5406a8028b080eaa877f289a"),
        "Emp_Name" : "Rajesh",
        "Emp_City" : "Nashik"
}
{
        "_id" : ObjectId("5406a8d98b080eaa877f289f"),
        "Emp_Name" : "Seema",
        "Emp_City" : "Nashik"
}

***Display top 5 employee’s id and name by considering their salary.

> db.Employee.aggregate([{$project:{Emp_ID:1,Emp_Name:1,Emp_Sal:1}},{$sort:{Emp_Sal:-1}},{$limit:5}]).pretty()
{
        "_id" : ObjectId("5406a9488b080eaa877f28a2"),
        "Emp_ID" : 110,
        "Emp_Name" : "Purva",
        "Emp_Sal" : 55000
}
{
        "_id" : ObjectId("5406a7cb8b080eaa877f2899"),
        "Emp_ID" : 101,
        "Emp_Name" : "Suresh",
        "Emp_Sal" : 50000
}
{
        "_id" : ObjectId("5406a8548b080eaa877f289c"),
        "Emp_ID" : 104,
        "Emp_Name" : "Asmita",
        "Emp_Sal" : 45000
}
{
        "_id" : ObjectId("5406a8fe8b080eaa877f28a0"),
        "Emp_ID" : 108,
        "Emp_Name" : "Kamal",
        "Emp_Sal" : 42000
}
{
        "_id" : ObjectId("5406a82a8b080eaa877f289b"),
        "Emp_ID" : 103,
        "Emp_Name" : "Kiran",
        "Emp_Sal" : 40000
}

***Create an index on the name field of an employee.

> db.Employee.ensureIndex({Emp_Name:1})
{
        "createdCollectionAutomatically" : false,
        "numIndexesBefore" : 1,
        "numIndexesAfter" : 2,
        "ok" : 1
}
> db.Employee.find({Emp_Name:'Pooja'}).pretty()
{
        "_id" : ObjectId("5406a8af8b080eaa877f289e"),
        "Emp_ID" : 106,
        "Emp_Name" : "Pooja",
        "Emp_City" : "Mumbai",
        "Emp_Post" : "Assistant",
        "Emp_Sal" : 9000
}

***Create a compound index on name, city and salary of an employee.

> db.Employee.ensureIndex({Emp_Name:1,Emp_City:1,Emp_Sal:1})
{
        "createdCollectionAutomatically" : false,
        "numIndexesBefore" : 2,
        "numIndexesAfter" : 3,
        "ok" : 1
}




***Create an unique index on the ID field of an employee.

> db.Employee.ensureIndex({Emp_ID:1},{unique:true})
{
        "createdCollectionAutomatically" : false,
        "numIndexesBefore" : 3,
        "numIndexesAfter" : 4,
        "ok" : 1
}

***Remove the index created on name field of an employee.

> db.Employee.dropIndex({Emp_Name:1})
{ "nIndexesWas" : 4, "ok" : 1 }