<a href="https://colab.research.google.com/github/bhavika2222/AI/blob/master/adbms_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Statements:
Create Following Collection
Employee (emp_id, emp_name, emp_city, emp_post,emp_salary)

Insert at least 8 Documents in Collection.

------------------------------------------------------------


> db.emp.find().pretty();
{
        "_id" : ObjectId("5406a7f25614796594540a50"),
        "emp_id" : 1,
        "emp_name" : "shree",
        "emp_city" : "nanded",
        "emp_post" : "manager",
        "emp_sal" : 100000
}
{
        "_id" : ObjectId("5406a8205614796594540a51"),
        "emp_id" : 2,
        "emp_name" : "linta",
        "emp_city" : "nashik",
        "emp_post" : "developer",
        "emp_sal" : 100000
}
{
        "_id" : ObjectId("5406a8475614796594540a52"),
        "emp_id" : 3,
        "emp_name" : "prit",
        "emp_city" : "nashik",
        "emp_post" : "tester",
        "emp_sal" : 20000
}
{
        "_id" : ObjectId("5406a8675614796594540a53"),
        "emp_id" : 4,
        "emp_name" : "pritam",
        "emp_city" : "nashik",
        "emp_post" : "account",
        "emp_sal" : 200600
}
{
        "_id" : ObjectId("5406a93c5614796594540a54"),
        "emp_id" : 5,
        "emp_name" : "varsha",
        "emp_city" : "nanded",
        "emp_post" : "ceo",
        "emp_sal" : 200600
}
{
        "_id" : ObjectId("5406a97c5614796594540a55"),
        "emp_id" : 6,
        "emp_name" : "shrasti",
        "emp_city" : "nanded",
        "emp_post" : "clerk",
        "emp_sal" : 2000
}
{
        "_id" : ObjectId("5406a9a55614796594540a56"),
        "emp_id" : 7,
        "emp_name" : "pranali",
        "emp_city" : "pune",
        "emp_post" : "salesman",
        "emp_sal" : 8000
}

------------------------------------------------------------


1] Display only id, name and city of employee.

 db.emp.aggregate([{$project:{emp_id:1,emp_name:1,emp_city:1}}]).pretty();

       "_id" : ObjectId("5406a7f25614796594540a50"),
       "emp_id" : 1,
       "emp_name" : "shree",
       "emp_city" : "nanded"


       "_id" : ObjectId("5406a8205614796594540a51"),
       "emp_id" : 2,
       "emp_name" : "linta",
       "emp_city" : "nashik"


       "_id" : ObjectId("5406a8475614796594540a52"),
       "emp_id" : 3,
       "emp_name" : "prit",
       "emp_city" : "nashik"


       "_id" : ObjectId("5406a8675614796594540a53"),
       "emp_id" : 4,
       "emp_name" : "pritam",
       "emp_city" : "nashik"


       "_id" : ObjectId("5406a93c5614796594540a54"),
       "emp_id" : 5,
       "emp_name" : "varsha",
       "emp_city" : "nanded"


       "_id" : ObjectId("5406a97c5614796594540a55"),
       "emp_id" : 6,
       "emp_name" : "shrasti",
       "emp_city" : "nanded"


       "_id" : ObjectId("5406a9a55614796594540a56"),
       "emp_id" : 7,
       "emp_name" : "pranali",
       "emp_city" : "pune"

------------------------------------------------------------
2] Display only id and salary of employee whose salary is greater than 10000.
> db.emp.aggregate([{$match:{emp_sal:{$gt:10000}}},{$project:{emp_id:1,emp_sal:1
}}]).pretty();
{
        "_id" : ObjectId("5406a7f25614796594540a50"),
        "emp_id" : 1,
        "emp_sal" : 100000
}
{
        "_id" : ObjectId("5406a8205614796594540a51"),
        "emp_id" : 2,
        "emp_sal" : 100000
}
{
        "_id" : ObjectId("5406a8475614796594540a52"),
        "emp_id" : 3,
        "emp_sal" : 20000
}
{
        "_id" : ObjectId("5406a8675614796594540a53"),
        "emp_id" : 4,
        "emp_sal" : 200600
}
{
        "_id" : ObjectId("5406a93c5614796594540a54"),
        "emp_id" : 5,
        "emp_sal" : 200600
}

------------------------------------------------------------
3] Display employee name from Nasik city and sort it by considering their names.


> db.emp.aggregate([{$match:{emp_city:'nashik'}},{$project:{emp_name:1}},{$sort:
{emp_name:1}}]).pretty();
{ "_id" : ObjectId("5406a8205614796594540a51"), "emp_name" : "linta" }
{ "_id" : ObjectId("5406a8475614796594540a52"), "emp_name" : "prit" }
{ "_id" : ObjectId("5406a8675614796594540a53"), "emp_name" : "pritam" }

------------------------------------------------------------
4] Display top 5 employeeâ€™s id and name by considering their salary.

> db.emp.aggregate([{$limit:5},{$sort:{emp_sal:1}},{$project:{emp_id:1,emp_name:
1}}]).pretty();
{
        "_id" : ObjectId("5408a45fec7a7ed2bcd76005"),
        "emp_id" : 1,
        "emp_name" : "shree"
}
{
        "_id" : ObjectId("5408a4a4ec7a7ed2bcd76006"),
        "emp_id" : 2,
        "emp_name" : "linta"
}
{
        "_id" : ObjectId("5408a4fbec7a7ed2bcd76007"),
        "emp_id" : 3,
        "emp_name" : "prit"
}
{
        "_id" : ObjectId("5408a511ec7a7ed2bcd76008"),
        "emp_id" : 3,
        "emp_name" : "pritam"
}
{
        "_id" : ObjectId("5408a546ec7a7ed2bcd76009"),
        "emp_id" : 5,
        "emp_name" : "varsha"
}















------------------------------------
	INDEXING
--------------------------------------
1]create an index on the name field of an employee.

 db.emp.ensureIndex({emp_name:1});

       "createdCollectionAutomatically" : false,
       "numIndexesBefore" : 1,
       "numIndexesAfter" : 2,
       "ok" : 1

------------------------------------------------------------

2]Create a compound index on name, city and salary of an employee

db.emp.ensureIndex({emp_name:1,emp_city:1,emp_sal:1});

      "createdCollectionAutomatically" : false,
      "numIndexesBefore" : 2,
      "numIndexesAfter" : 3,
      "ok" : 1

------------------------------------------------------------

3]Create an unique index on the ID field of an employee.

> db.emp.ensureIndex({emp_name:1},{unique:true});
{
        "ok" : 0,
        "errmsg" : "Index with name: emp_name_1 already exists with different op
tions",
        "code" : 85
}

------------------------------------------------------------

4]Remove the index created in statement no.1

> db.emp.dropIndex({"emp_name":1});
{ "nIndexesWas" : 3, "ok" : 1 }
>